@import 'src/styles-vars.scss';

.left-column {
  background-color: $app-light-blue;
}

::ng-deep .left-column a {
  color: $app-white !important;
}

.right-column {
  background-color: $app-gray;
  padding: 30px;
}

@media (max-width: $col-ms-breakpoint) {
  .right-column {
    padding-left: 20px;
    padding-right: 20px;
  }
}

::ng-deep .right-column a {
  color: $app-dark-turquoise !important;
}

.footer {
  text-align: center;
  margin-top: 60px;
}
