@import 'src/styles-vars.scss';

::ng-deep a {
  transition: all 0.3s ease-in-out;
}

::ng-deep .left-column a {
  color: $app-white;
  text-decoration: none;
}

::ng-deep .right-column a {
  color: $app-dark-turquoise;
  text-decoration: none;
}

::ng-deep .left-column a:hover,
::ng-deep .right-column a:hover {
  color: #002966;
}

.left-column {
  background-color: $app-light-blue;
}

.right-column {
  background-color: $app-gray;
  padding: 30px;
}

@media (max-width: $col-ms-breakpoint) {
  .right-column {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer {
  text-align: center;
  margin-top: 60px;
}
