<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 left-column">
      <div class="row no-gutters">
        <app-profile-pic
          [pic]="'me.png'"
          [name]="'Matthew F Callahan'"
          [subTitle]="'Software Developer'"
          [location]="'Phoenix, AZ'"
        ></app-profile-pic>
      </div>
      <div class="row no-gutters">
        <app-homepage-contact-links></app-homepage-contact-links>
      </div>
      <div class="row no-gutters">
        <app-link-img-list
          [title]="'Education'"
          [links]="educationLinks"
          [leftColSize]="3"
          [rightColSize]="9"
        ></app-link-img-list>
      </div>
      <div class="row no-gutters">
        <app-link-img-list
          [title]="'Certifications & Licenses'"
          [links]="certLinks"
          [leftColSize]="3"
          [rightColSize]="9"
        ></app-link-img-list>
      </div>
      <div class="row no-gutters hide-mobile">
        <app-link-list [title]="'Recent Blog Posts'" [links]="blogLinks"></app-link-list>
      </div>
      <div class="row no-gutters hide-mobile">
        <app-link-img-list
          [title]="'My Favorite Dev Tools'"
          [links]="devLinks"
          [leftColSize]="1"
          [rightColSize]="11"
        ></app-link-img-list>
      </div>
    </div>
    <div class="col-md-8 right-column">
      <div class="row no-gutters">
        <app-homepage-about></app-homepage-about>
      </div>
      <div class="footer">
        <img src="assets/images/any-browser.gif" alt="Best viewed with any browser" />
      </div>
    </div>
  </div>
</div>
