<div class="heading heading-large text-center">Matt Callahan Radio Homepage</div>
<div class="row no-gutters">
  <div class="col-sm-6">
    <p>
      Welcome to my radio homepage. In addition to computers and programming, my other nerdy hobby is radio. When I was
      16, I bought my first scanner from Radio Shack,
      <span class="lightbox-link" href="assets/images/pro71.png" (click)="open(0)">a Pro-71</span>, and I've been
      listening ever since. I am a licensed amateur radio operator (<a
        href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237"
        target="_blank"
        rel="noopener"
        >K7MFC</a
      >), and a licensed GMRS radio operator (<a
        href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322"
        target="_blank"
        rel="noopener"
        >WRAA720</a
      >).
    </p>
    <p>
      But why radios?! We have cell phones in {{ currentYear }}, right? We do, but they
      <span class="lightbox-link" href="assets/images/cell-coverage.png" (click)="open(1)"
        >don't work everywhere in Arizona</span
      >. Radio is most useful to me when I'm camping and exploring the Arizona back country, miles away from cell phone
      service. I monitor state and federal radio communications during wildfire season, and I rely on VHF and UHF
      two-way radios for off-road mobile communications.
    </p>
  </div>
  <div class="col-sm-6 text-center">
    <img src="assets/images/scanner-homepage-1.png" />
  </div>
</div>
