h2 {
  font-family: Verdana, Tahoma, Segoe, Geneva, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #f2f2f2;
}

p {
  font-size: 15px;
}

fa-icon {
  border-radius: 50%;
  background: #2c3e50;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}

.banner-img {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 18px;
  margin-right: 10px;
}
