<div>
  <ul class="list-unstyled">
    <li>
      <fa-icon [icon]="faBroadcastTower"></fa-icon>
      462.5500 MHz (141.3 Hz) Tuesdays
    </li>
    <li>
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <a href="mailto: matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
    </li>
    <li>
      <fa-icon [icon]="faHome"></fa-icon>
      <a href="{{ homeUrl }}">mfcallahan.com homepage</a>
    </li>
    <li>
      <a href="https://www.radioreference.com/apps/user/K7MFC/bio">radioreference.com - K7MFC</a>
    </li>
    <li>
      <a href="https://mygmrs.com/users?username=mcallahan">mygmrs.com - mcallahan</a>
    </li>
    <li>
      <a href="https://www.qrz.com/db/K7MFC">QRZ.com - K7MFC</a>
    </li>
  </ul>
</div>
