# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# compiled output
/dist
/tmp
/out-tsc

# Node.js dependencies
node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
.sass-cache/
connect.lock/
coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
App_Data/
remote-profile/

# System Files
.DS_Store
Thumbs.db