@import 'src/styles-vars.scss';

.heading {
  margin-bottom: 15px;
  text-align: center;
}

fa-icon {
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}

.heading fa-icon {
  border-radius: 50%;
  background: $app-dark-blue;
  line-height: 1.9em;
  width: 1.9em;
}

.banner-img {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.construction-image {
  margin-left: 15px;
}

.project {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.project .row {
  margin: 0px;
}

.project .row [class^='col-'] {
  padding: 0px;
}

.project .row .col-md-3 {
  padding-right: 15px;
}
