<div class="heading heading-large"><fa-icon [icon]="faUser"></fa-icon>About Me</div>
<p>
  Hi, I’m Matt Callahan and I like programming. Computers have been my hobby since my dad bought our first family
  computer 30 years ago - a 286 IBM PC clone running MS-DOS. I found
  <span class="lightbox-link" href="assets/images/qbasic.png" (click)="open(0)">QBasic</span> on that computer and began
  teaching myself how to program. (Without Google or StackOverflow!) After receiving a
  <span class="lightbox-link" href="assets/images/ti83.png" (click)="open(1)">TI-83</span> graphing calculator for
  algebra class in 6th grade, I quickly began making games and homework cheat programs with
  <a href="https://en.wikipedia.org/wiki/TI-BASIC/" target="_blank" rel="noopener">TI-BASIC</a> to share with friends.
  My interest in programming extended through college, where my Geographic Information Systems major introduced me to
  Java, Python, and ActionScript + Flash. I am currently an Engineering Manager at a software consultancy, overseeing a team
  which designs and builds custom software for clients. See my
  <a href="assets/docs/Matthew_Callahan_resume.pdf" target="_blank" rel="noopener">resume</a> for more information about my
  professional experience.
</p>
<div class="heading heading-large">
  <fa-icon [icon]="faFileCode"></fa-icon>Software <span class="hide-mobile">Development</span>
</div>
<a href="https://www.gitkraken.com/" target="_blank" rel="noopener">
  <img class="img-responsive banner-img" src="assets/images/git-banner.png" alt="GitKraken" />
</a>
<p>
  My main area of interest in programming is desktop and back end web development using the Microsoft
  <a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank" rel="noopener"
    >.NET framework</a
  >. C# is my language of choice when I need to develop a custom solution. It is a powerful language with a robust base
  class library and awesome features like LINQ, dependency injection, asynchronous programming, and garbage collection.
</p>
<p>
  Sometimes I just don't need the overhead of the massive .NET framework, and
  <a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a> is another favorite
  language. It is the perfect language for me to automate repetitive tasks or process large batches of data. Python is
  also what I strongly recommend as a first language to learn for programming beginners.
</p>
<p>
  I am also an
  <a href="https://angular.io/" target="_blank" rel="noopener">Angular</a> developer, and have made this my preferred
  front end framework for developing web applications. The provided command line tools, integrated testing framework,
  and being built around <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener">TypeScript</a> make
  this a framework with which I greatly enjoy working.
</p>
<!-- <p>
  I also like to explore new topics and learn unfamiliar languages/frameworks. Right now, I'm learning
  <a href="https://golang.org/" target="_blank" rel="noopener">Go</a>. I'm also learning more about home networking,
  experimenting with <a href="https://pi-hole.net/" target="_blank" rel="noopener">Pi-hole</a>.
</p> -->
<div class="heading heading-large"><fa-icon [icon]="faBroadcastTower"></fa-icon>Radio</div>
<p>
  In addition to computers and programming, my other nerdy hobby is radio. I am a licensed GMRS radio operator (call
  sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener"
    >WRAA720</a
  >) and a licensed amateur radio operator (call sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">K7MFC</a
  >). Check out my radio homepage <a href="Radio">here</a>.
</p>
<div class="heading heading-large"><fa-icon [icon]="faCode"></fa-icon>Projects</div>
<p>
  Below are some projects that demonstrate the types of software development I enjoy. I have included a link to the
  source code for each project, as well as links to the deployed app and blog posts which detail how the code works. All
  my public code repositories can be viewed
  <a href="https://github.com/mfcallahan?tab=repositories" target="_blank" rel="noopener">here</a>.
</p>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>Homepage</b></li>
        <li>
          <a href="https://github.com/mfcallahan/Homepage/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      My homepage is built with TypeScript and Angular 11, and hosted on GitHub Pages. Browse the source code and feel
      free to use any or all of it to help build your own homepage with Angular.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>mfcallahan API</b></li>
        <li>
          <a href="https://mfcallahan-homepage-dev.azurewebsites.net/" target="_blank" rel="noopener">App link</a>
        </li>
        <li>
          <a href="https://github.com/mfcallahan/mfcallahan-api/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      This is a sample REST API, built with .NET Core 3.1 and hosted on Azure as an App Service. This project is
      intended to demonstrate the patterns and best practices I like to leverage in the back end software I develop,
      including dependency injection, unit testing, and clean code organization. This application also includes
      interactive documentation, automatically generated with Swagger/Swashbuckle, which can be used to test the API in
      a browser.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title">
          <b>Tetriz<sup>xyz</sup></b>
        </li>
        <li>
          <a href="https://tetriz.xyz/" target="_blank" rel="noopener">App link</a>
        </li>
        <li>
          <a href="https://github.com/mfcallahan/tetriz-xyz/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      This is a Tetris clone built for my own education and enjoyment. It is built with TypeScript and Angular 9, and
      hosted on GitHub Pages. This project demonstrates the patterns and best practices I like to leverage when
      developing Angular applications. Tetriz<sup>xyz</sup> is currently a work in progress and the game is incomplete
      as of now.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>C# Async Demo</b></li>
        <li>
          <a href="https://mfcallahan.github.io/AsyncDemo/" target="_blank" rel="noopener">App link</a>
        </li>
        <li>
          <a
            href="https://mfcallahan.blog/2018/10/17/a-really-simple-c-async-example/"
            target="_blank"
            rel="noopener"
            >Blog post</a
          >
        </li>
        <li>
          <a href="https://github.com/mfcallahan/AsyncDemo/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      As a Software Engineer, I like to mentor team members and help other developers understand programming concepts.
      This is a C# console app which demonstrates a basic implementation of the task-based asynchronous pattern in C#,
      and highlights the performance gains that can be achieved. The associated blog post provides an introduction to
      asynchronous programming in C#, using this app as an example.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>SignalR Demo</b></li>
        <li>
          <a href="https://mfcallahan.github.io/angular-signalr-demo/" target="_blank" rel="noopener">App link</a>
        </li>
        <li>
          <a
            href="https://mfcallahan.blog/2020/11/05/how-to-implement-signalr-in-a-net-core-angular-web-application/"
            target="_blank"
            rel="noopener"
            >Blog Post</a
          >
        </li>
        <li>
          <a href="https://github.com/mfcallahan/angular-signalr-demo/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      This app demonstrates how to implement
      <a href="https://dotnet.microsoft.com/apps/aspnet/signalr/" target="_blank" rel="noopener">SignalR</a>, and
      highlights the benefits of real-time communication between the client and server that it provides. I was having
      some difficulty finding thorough examples of how to use SignalR, so I wrote a tutorial in a blog post
      demonstrating how to build a .NET Core 3.1 and Angular 10 app which uses SignalR to update a progress bar on the
      client from the server.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>ArcGIS API Unit Test Demo</b></li>
        <li>
          <a href="https://mfcallahan.github.io/angular-cli-esri-map-unit-testing/" target="_blank" rel="noopener"
            >App link</a
          >
        </li>
        <li>
          <a
            href="https://mfcallahan.blog/2020/12/03/angular-and-arcgis-api-for-javascript-a-unit-testing-strategy-using-dependency-injection-and-the-facade-pattern/"
            target="_blank"
            rel="noopener"
            >Blog Post</a
          >
        </li>
        <li>
          <a href="https://github.com/mfcallahan/angular-cli-esri-map-unit-testing/" target="_blank" rel="noopener"
            >Source code</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      When using the <a href="https://github.com/Esri/esri-loader/" target="_blank" rel="noopener">esri-loader</a> and
      the
      <a href="https://developers.arcgis.com/javascript/" target="_blank" rel="noopener">ArcGIS API for JavaScript</a>
      inside an Angular application, I ran into an issue writing unit tests: the API modules are lazy loaded at run time
      and HTTP requests are made to fetch the resources, but I needed to mock this behavior in tests. This app
      demonstrates an approach for testing code which has a dependency on the esri-loader. Using dependency injection
      and the Facade pattern, an abstraction for the methods which load the API modules can be created. This allows the
      esri-loader dependency to be more easily mocked, and eliminates actual HTTP requests being made in a unit test.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>ArcGIS API ES Modules</b></li>
        <li>
          <a href="https://github.com/mfcallahan/angular-arcgis-es-modules/" target="_blank" rel="noopener"
            >Source code</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      Beginning with version 4.18 of the API, Esri has begun offering the ArcGIS API for JavaScript via standard
      <a href="https://developers.arcgis.com/javascript/latest/guide/es-modules/" target="_blank" rel="noopener"
        >ES Modules</a
      >
      which can be directly imported into classes, no longer necessitating the use of the
      <a href="https://github.com/Esri/esri-loader/" target="_blank" rel="noopener">esri-loader</a> or the
      <a href="https://github.com/Esri/arcgis-webpack-plugin/" target="_blank" rel="noopener">arcgis-webpack-plugin</a>
      to load the Dojo-based API modules. This repository contains an Angular app to experiment with the new ArcGIS ES
      modules in preparation for migrating my applications away from the esri-loader.
    </div>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="project-title"><b>MB Utils</b></li>
        <li>
          <a href="https://github.com/mfcallahan/MB_Utils/" target="_blank" rel="noopener">Source code</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      This project is a
      <a href="https://en.wikipedia.org/wiki/MapBasic" target="_blank" rel="noopener">MapBasic</a> module and .NET
      library that extends MapInfo programming functionality by exposing .NET and Win32 API calls as MapBasic functions
      and subs. This was the first library I ever wrote and was a great learning experience in how to document, release,
      and support an open source software project, albeit on a small scale. I have long since ended work on this
      project, but I keep the repository public to show how my career and code quality has progressed.
    </div>
  </div>
</div>
