@import 'src/styles-vars.scss';

.heading {
  margin-bottom: 15px;
}

fa-icon {
  border-radius: 50%;
  background: $app-dark-blue;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}

.banner-img {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 18px;
  margin-right: 10px;
}
