@import 'src/styles-vars.scss';

fa-icon {
  border-radius: 50%;
  background: $app-dark-blue;
  line-height: 1.9em;
  width: 1.9em;
  height: 1.9em;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}

p.project span {
  display: block;
}

.heading {
  margin-bottom: 15px;
}

.banner-img {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 18px;
}

.construction-image {
  margin-left: 15px;
}
