<div class="heading heading-large"><fa-icon [icon]="faUser"></fa-icon>About Me</div>
<p>
  Hi, I’m Matt Callahan and I am a software developer in Phoenix, Arizona. Computers have been my hobby since my dad
  bought our first family computer, a 286 IBM PC clone running MS-DOS, 30 years ago. I found
  <span class="lightbox-link" href="assets/images/qbasic.png" (click)="open(0)">QBasic</span> on that computer and began
  teaching myself how to program - without Google or StackOverflow! After receiving a
  <span class="lightbox-link" href="assets/images/ti83.png" (click)="open(1)">TI-83</span> graphing calculator for
  algebra class in 6th grade, I quickly began making games and homework cheat programs with
  <a href="https://en.wikipedia.org/wiki/TI-BASIC" target="_blank" rel="noopener">TI-BASIC</a> to share with friends. My
  interest in programming extended through college, where my Geographic Information Systems major introduced me to Java,
  Python, and ActionScript + Flash.
</p>
<p>
  If I'm not at my keyboard, you'll find me enjoying the Arizona outdoors - exploring the scenic back roads, bicycling,
  fishing, camping, swimming, and skiing (yes, there's skiing in
  <a href="https://snowbowl.ski/" target="_blank" rel="noopener">Arizona</a>).
</p>
<div class="heading heading-large"><fa-icon [icon]="faCode"></fa-icon>Software Development</div>
<a href="https://www.gitkraken.com" target="_blank" rel="noopener">
  <img class="img-responsive banner-img" src="assets/images/git-banner.png" alt="GitKraken" />
</a>
<p>
  My main area of interest in programming is desktop and back end web development using the Microsoft
  <a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank" rel="noopener"
    >.NET framework</a
  >. C# is my language of choice when I need to develop a custom solution. It is a powerful language with a robust base
  class library and awesome features like LINQ, garbage collection, and asynchronous programming.
</p>
<p>
  Sometimes I just don't need the overhead of the massive .NET framework, and
  <a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a> is another favorite
  language. It is the perfect language for me to automate repetitive tasks or process large batches of data. Python is
  also what I strongly recommend as a first lanaguge to learn for programming beginners.
</p>
<p>
  I am also an
  <a href="https://angular.io/" target="_blank" rel="noopener">Angular</a> developer, and have made this my front end
  framework of choice for web applications. The provided command line tools, intergrated testing framework, and being
  built around <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener">TypeScript</a> make this a
  framework with which I greatly enjoy working.
</p>
<p>
  I bring all these areas of interest together in my current role as a Software Engineer at Republic Services in
  Scottsdale, Arizona. See my
  <a href="assets/docs/Matthew_Callahan_resume.pdf" target="_blank" rel="noopener">resume</a> for more information about
  my professional experience.
</p>
<div class="heading heading-large"><fa-icon [icon]="faBroadcastTower"></fa-icon>Radio</div>
<p>
  In addition to computers and programming, my other nerdy hobby is radio. I am a licensed GMRS radio opearator (call
  sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener"
    >WRAA720</a
  >) and a licensed amateur radio operator (call sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">K7MFC</a
  >). Check out my radio homepage <a href="/Radio" target="_blank" rel="noopener">here</a>.
</p>
<div class="heading heading-large"><fa-icon [icon]="faCodeBranch"></fa-icon>Projects</div>
<p>
  Here are some sample projects that demonstrate the types of software development I enjoy. View all my public code
  repositories
  <a href="https://github.com/mfcallahan?tab=repositories" target="_blank" rel="noopener">here</a>.
</p>
<p>
  <a class="project-title" href="https://github.com/mfcallahan/Homepage" target="_blank" rel="noopener"
    >mfcallahan.com</a
  >
  My homepage is built with Angular 9, and is deployed to GitHub Pages. View the source code at the link above, and feel
  free to use any or all of it to help build your own Angular application.
</p>
<p>
  <a class="project-title" href="https://mfcallahan-homepage-dev.azurewebsites.net/" target="_blank" rel="noopener"
    >mfcallahan-dev API</a
  >
  This is a demo HTTP service created with .NET Core 3.1 and deployed to Azure. This application implements
  architectural patterns and best practices I like to incorporate in the software I develop: dependecy injection, SOLID
  principles, unit testing, and clean code organization. This application also includes interactive documentation, built
  with Swagger, which can be used to test the API. The source code can be viewed
  <a href="https://github.com/mfcallahan/mfcallahan-dev" target="_blank" rel="noopener">here</a>.
</p>
<p>
  <a class="project-title" href="https://github.com/mfcallahan/MB_Utils" target="_blank" rel="noopener">MB Utils</a> A
  MapBasic module and .NET library that extends MapInfo
  <a href="https://en.wikipedia.org/wiki/MapBasic" target="_blank" rel="noopener">MBX</a> programming functionality by
  exposing .NET and Win32 API calls as easy to use MapBasic functions and subs. This project was the first library I
  ever wrote and was a great learning experience in how to document, release, and support an open source software
  project, albeit on a small scale. I'm sharing this here to show how my career and code quality has progressed.
</p>
<p>
  <a class="project-title" href="https://github.com/mfcallahan/adhoc" target="_blank" rel="noopener"
    >Miscellaneous Code</a
  >
  This repository houses all my miscellaneous code: one-off scripts, code snippets I refer back to once in a while, and
  mini projects I started/completed/forgot about. You are invited to browse this repo, but the code contained within is
  not guaranteed to be stable (or good).
</p>
