<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 left-column">
      <div class="row no-gutters">
        <app-profile-pic [pic]="'bandit.png'" [name]="'K7MFC | WRAA720'" [location]="'Phoenix, AZ'"></app-profile-pic>
      </div>
      <div class="row no-gutters">
        <app-homepage-radio-contact-links></app-homepage-radio-contact-links>
      </div>
      <div class="row no-gutters">
        <app-link-img-list [title]="'Clubs'" [links]="clubLinks"></app-link-img-list>
      </div>
      <div class="row no-gutters">
        <app-link-list [title]="'Get Licensed!'" [links]="licenseLinks" [divWrapper]="true"></app-link-list>
      </div>
      <div class="row no-gutters">
        <app-link-list [title]="'Links'" [links]="radioLinks" [divWrapper]="true"></app-link-list>
      </div>
      <div class="row no-gutters">
        <app-link-list [title]="'Downloads'" [links]="downloadLinks" [divWrapper]="true"></app-link-list>
      </div>
    </div>
    <div class="col-md-8 right-column">
      <div class="row no-gutters">
        <app-homepage-radio-about></app-homepage-radio-about>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-6">
          <div class="title"><fa-icon [icon]="faMapMarker"></fa-icon>Maps</div>
          <app-link-list [links]="radioMapLinks"></app-link-list>
        </div>
        <div class="col-sm-6">
          <div class="title"><fa-icon [icon]="faWordpressSimple"></fa-icon>Blog</div>
          <app-link-list [links]="radioBlogLinks"></app-link-list>
        </div>
      </div>
      <!-- TODO: configure gallery -->
      <!-- <div class="row no gutters">
        <app-homepage-radio-gallery></app-homepage-radio-gallery>
      </div> -->
      <div class="row no gutters">
        <app-homepage-radio-bandplan></app-homepage-radio-bandplan>
      </div>
    </div>
  </div>
</div>
