@import 'src/styles-vars.scss';

.left-column {
  background-color: $app-light-blue;
}

::ng-deep .left-column a {
  color: $app-white !important;
}

.right-column {
  background-color: $app-gray;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

::ng-deep .right-column a {
  color: $app-dark-turquoise !important;
}

fa-icon {
  margin-right: 10px;
}
