:host {
  width: 100%;
}

.link-list {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

li {
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.row {
  margin-bottom: 10px;
}

fa-icon {
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}
