<h2><fa-icon [icon]="faUser"></fa-icon>About Me</h2>
<p>
  Hi, I’m Matt Callahan and I am a software developer in Phoenix, Arizona. Computers have been my hobby since my dad brought home our first
  family computer 30 years ago - a 286 PC running MS-DOS. I found <a href="../../assets/images/qbasic.png">QBasic</a> and began teaching
  myself how to program - without Google or StackOverflow! After receiving a <a href="../../assets/images/ti83.png">TI-83</a> graphing
  calculator for algebra class in 6th grade, I quickly began making games and homework cheat programs with
  <a href="https://en.wikipedia.org/wiki/TI-BASIC" target="_blank" rel="noopener">TI-BASIC</a> to share with friends. My interest in
  programming extended through college, where my Geographic Information Systems major introduced me to Java, and Flash/ActionScript.
</p>
<p>
  If I'm not at my keyboard, you'll find me enjoying the Arizona outdoors - exploring the scenic back roads, bicycling, fishing, camping,
  swimming, and skiing (yes, there's skiing in <a href="https://snowbowl.ski/" target="_blank" rel="noopener">Arizona</a>).
</p>
<h2><fa-icon [icon]="faCode"></fa-icon>Software Development</h2>
<a href="https://www.gitkraken.com/" target="_blank" rel="noopener">
  <img class="img-responsive banner-img" src="../../assets/images/git-banner.png" alt="" />
</a>
<p>
  My main area of interest in programming is desktop and back end web development using the Microsoft
  <a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank" rel="noopener">.NET framework</a>. C# is
  my language of choice when I need to develop a custom solution. It is a powerful language with a robust base class library and awesome
  features like LINQ, garbage collection, and asynchronous programming.
</p>
<p>
  I am also an
  <a href="https://angular.io/" target="_blank" rel="noopener">Angular</a> developer, and have made this my front end framework of choice
  for web applications. The provided command line tools, intergrated testing framework, and being built around
  <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener">TypeScript</a> make this a framework with which I greatly enjoy
  working.
</p>
<p>
  Sometimes I just don't need the overhead of the massive .NET framework, and
  <a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a> is another favorite language. It is perfect
  language for automating repetitive tasks or processing large batches of data. Python is also what I strongly recommend as a first lanaguge
  to learn for programming beginners.
</p>
<p>
  I bring all these areas of interest together in my current role as a Software Engineer at Republic Services in Scottsdale, Arizona.
</p>
<h2><fa-icon [icon]="faBroadcastTower"></fa-icon>Radio</h2>
<p>
  In addition to computers and programming, my other nerdy hobby is radio. I am a licensed GMRS radio opearator (call sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener">WRAA720</a>) and a licensed
  amateur radio operator (call sign
  <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">K7MFC</a>). I am also a
  <a href="https://www.azgmrs.org/leadership-team.php" target="_blank" rel="noopener">board member</a> at Arizona GMRS Repeater Club. Check
  out my <a href="/Radio" target="_blank" rel="noopener">radio homepage here</a>.
</p>
<div class="footer">
  <a href="http://www.notepad.org/" target="_blank" rel="noopener">
    <img src="../../assets/images/notepad.png" alt="Built with Notepad" />
  </a>
</div>
