:host {
  width: 100%;
}

.contact-links {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

ul {
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

li {
  margin-bottom: 10px;
  word-wrap: break-word;
}

fa-icon {
  margin-right: 10px;
  font-size: 20px;
}
