div {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

ul {
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

li {
  margin-bottom: 10px;
  word-wrap: break-word;
}

a {
  color: #e6e6e6 !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

fa-icon {
  padding-right: 10px;
}
