<div class="title text-center"><fa-icon [icon]="faBroadcastTower"></fa-icon>WRAA720 UHF Band Plan</div>
<p>
  This is my personal band plan for UHF two way radio, used primarily for outdoor recreational activities - 4x4
  exploration, camping, fishing, etc. This plan allows for compatability with bubble-pack FRS radios and unlicensed
  users for short range communications, as well as full power operation on GMRS channels for use with family and other
  licensed GMRS stations.
</p>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center">Ch</th>
      <th class="text-center">Name</th>
      <th class="text-center">Frequency</th>
      <th class="text-center">Tone</th>
      <th class="text-center">W/N</th>
      <th class="text-center">Power</th>
      <th class="text-center">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRows; let i = index" [ngClass]="i % 2 === 0 ? 'tabe-row-light' : 'tabe-row-dark'">
      <td class="text-center">{{ row.channel }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.frequency }}</td>
      <td>{{ row.tone }}</td>
      <td class="text-center">{{ row.bandwidth }}</td>
      <td class="text-center">{{ row.power }}</td>
      <td>{{ row.notes }}</td>
    </tr>
  </tbody>
</table>
