:host {
  width: 100%;
}

.link-img-list {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.row {
  margin-bottom: 10px;
}

li {
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

img {
  width: 100%;
}

.link-text {
  margin-left: 15px;
}
