div {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

span {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}
