h1,
h2,
h3 {
    font-weight: 700;
}

.row {
    margin-bottom: 20px;
}

.sidebar-col {
    background-color: #4285F4;
}

.sidebar-wrapper {
    background: #4285F4;
}

    .sidebar-wrapper a {
        color: #E6E6E6 !important;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

        .sidebar-wrapper a:hover {
            text-decoration: underline;
            color: #284860 !important;
        }

        .sidebar-wrapper a:focus {
            text-decoration: none;
        }

    .sidebar-wrapper .profile-container {
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }

    .sidebar-wrapper .contact-container {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
    }

    .sidebar-wrapper .name {
        font-family: Verdana, Tahoma, Segoe, Geneva, sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 10px;
        color: #F2F2F2;
    }

    .sidebar-wrapper .tagline {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        color: #E6E6E6;
    }

    .sidebar-wrapper .profile {
        margin-bottom: 15px;
        max-width: 100%;
        max-height: 100%;
    }

    .sidebar-wrapper .contact-list .fa {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
    }

    .sidebar-wrapper .contact-list li {
        margin-bottom: 10px;
        word-wrap: break-word;
    }

        .sidebar-wrapper .contact-list li:last-child {
            margin-bottom: 0;
        }

    .sidebar-wrapper .container-block {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .sidebar-wrapper .container-block-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
        font-family: Verdana, Tahoma, Geneva, sans-serif;
    }

    .sidebar-wrapper .container-block-about {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
    }

    .sidebar-wrapper .moreinfo {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .sidebar-wrapper .education-container .meta {
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0;
    }

    .main-wrapper .section-title .fa {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: inline-block;
        color: #E6E6E6;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #2c3e50;
        text-align: center;
        padding-top: 6px;
        font-size: 18px;
        position: relative;
    }

#clock {
    background-image: url("/Content/img/clock.png");
    height: 200px;
    position: relative;
    width: 200px
}

    #clock div {
        position: absolute;
        left: 50%
    }

    #clock img[src*="clockSec"] {
        transition: transform 600000s linear 0s;
    }

    #clock:target img[src*="clockSec"] {
        transform: rotate(3600000deg);
    }

    #clock img[src*="clockMin"] {
        transition: transform 360000s linear 0s;
    }

    #clock:target img[src*="clockMin"] {
        transform: rotate(36000deg);
    }

    #clock img[src*="clockHr"] {
        transition: transform 216000s linear 0s;
    }

    #clock:target img[src*="clockHr"] {
        transform: rotate(360deg);
    }