html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir Next W00";
}

#titleDiv {
    position: absolute;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #f8f8f8;
    background: #464646;
    z-index: 1;
}

#title {
    margin: 15px;
    font-size: 20px;
    overflow: hidden;
}

.invisible {
    visibility: collapse;
}

.esri-expand .esri-expand__content {
    box-shadow: none;
}

.esri-view-height-xsmall .esri-ui-corner .esri-expand .esri-legend.esri-widget,
.esri-view-height-small .esri-ui-corner .esri-expand .esri-legend.esri-widget {
    max-height: 100%;
}

.esri-view-width-less-than-small .esri-zoom .esri-widget-button {
    display: none;
}