li {
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.row {
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}
