
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container gallery-wrapper ">
    <h2 class="section-title text-center"><i class="fa fa-camera"></i>&nbsp;&nbsp;Image Gallery</h2>
    <div class="details text-center">
        <h3>Me</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="~/Content/img/matt1.png"><img src="~/Content/img/matt1.thumb.png" /></a>
            <a href="~/Content/img/matt2.png"><img src="~/Content/img/matt2.thumb.png" /></a>
            <a href="~/Content/img/matt3.png"><img src="~/Content/img/matt3.thumb.png" /></a>
            <a href="~/Content/img/matt4.png"><img src="~/Content/img/matt4.thumb.png" /></a>
            <a href="~/Content/img/matt5.png"><img src="~/Content/img/matt5.thumb.png" /></a>
            <a href="~/Content/img/matt6.png"><img src="~/Content/img/matt6.thumb.png" /></a>
            <a href="~/Content/img/matt7.png"><img src="~/Content/img/matt7.thumb.png" /></a>
        </div>
    </div>
    <div class="details text-center">
        <h3>My Trucks</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="~/Content/img/truck1.png"><img src="~/Content/img/truck1.thumb.png" /></a>
            <a href="~/Content/img/truck2.png"><img src="~/Content/img/truck2.thumb.png" /></a>
            <a href="~/Content/img/truck3.png"><img src="~/Content/img/truck3.thumb.png" /></a>
            <a href="~/Content/img/truck4.png"><img src="~/Content/img/truck4.thumb.png" /></a>
            <a href="~/Content/img/truck6.png"><img src="~/Content/img/truck6.thumb.png" /></a>
            <a href="~/Content/img/truck7.png"><img src="~/Content/img/truck7.thumb.png" /></a>
            <a href="~/Content/img/truck8.png"><img src="~/Content/img/truck8.thumb.png" /></a>
        </div>
    </div>
    <div class="details text-center">
        <h3>My Cats</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="~/Content/img/cat1.png"><img src="~/Content/img/cat1.thumb.png" /></a>
            <a href="~/Content/img/cat2.png"><img src="~/Content/img/cat2.thumb.png" /></a>
            <a href="~/Content/img/cat3.png"><img src="~/Content/img/cat3.thumb.png" /></a>
            <a href="~/Content/img/cat4.png"><img src="~/Content/img/cat4.thumb.png" /></a>
            <a href="~/Content/img/cat5.png"><img src="~/Content/img/cat5.thumb.png" /></a>
            <a href="~/Content/img/cat6.png"><img src="~/Content/img/cat6.thumb.png" /></a>
            <a href="~/Content/img/cat7.png"><img src="~/Content/img/cat7.thumb.png" /></a>
        </div>
    </div>
</div>

<footer>
    <h5>Image gallery created using <a href="https://noelboss.github.io/featherlight/" target="_blank" rel="noopener">Featherlight.js</a></h5>
</footer>



