
@{
    ViewBag.Title = "Trucks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery-wrapper">
    <div class="row">
        <div class="col-md-12 ">
            <h2 class="text-center">This is a sample image gallery built using Featherlight.js</h2>
            <div class="row">
                <h3>My Trucks</h3>
                <div data-featherlight-gallery data-featherlight-filter="a">
                    <a href="~/Content/img/truck1.png"><img src="~/Content/img/truck1.thumb.png" /></a>
                    <a href="~/Content/img/truck2.png"><img src="~/Content/img/truck2.thumb.png" /></a>
                    <a href="~/Content/img/truck3.png"><img src="~/Content/img/truck3.thumb.png" /></a>
                    <a href="~/Content/img/truck4.png"><img src="~/Content/img/truck4.thumb.png" /></a>
                    <a href="~/Content/img/truck6.png"><img src="~/Content/img/truck6.thumb.png" /></a>
                    <a href="~/Content/img/truck7.png"><img src="~/Content/img/truck7.thumb.png" /></a>
                    <a href="~/Content/img/truck8.png"><img src="~/Content/img/truck8.thumb.png" /></a>
                </div>
            </div>
            <div class="row">
                <h3>My Cats</h3>
                <div data-featherlight-gallery data-featherlight-filter="a">
                    <a href="~/Content/img/cat1.png"><img src="~/Content/img/cat1.thumb.png" /></a>
                    <a href="~/Content/img/cat2.png"><img src="~/Content/img/cat2.thumb.png" /></a>
                    <a href="~/Content/img/cat3.png"><img src="~/Content/img/cat3.thumb.png" /></a>
                    <a href="~/Content/img/cat4.png"><img src="~/Content/img/cat4.thumb.png" /></a>
                    <a href="~/Content/img/cat5.png"><img src="~/Content/img/cat5.thumb.png" /></a>
                    <a href="~/Content/img/cat6.png"><img src="~/Content/img/cat6.thumb.png" /></a>
                    <a href="~/Content/img/cat7.png"><img src="~/Content/img/cat7.thumb.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>



