@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="col-md-7 equal-heght">
            <div class="row">
                <div class="col-md-12">
                    <div class="row font-monospace text-center">
                        <h2 class="nomargin">
                            <span class="bold-font">Matt Callahan</span><br />
                            <span class="bold-font-small">Software Developer in Phoenix, AZ</span>
                        </h2>
                    </div><br />
                    <div class="row font-gothic body-font-gray">
                        <div class="col-md-12">
                            <h4>
                                Computers have been my hobby since my dad brought home our first family computer more than 25 years
                                ago - a 386 PC running MS-DOS. I found <a data-toggle="modal" data-target="#qbasicModal">QBasic</a>
                                and began teaching myself how to program.  After receiving a TI-83 graphing calculator for Algebra class,
                                I quickly began making games and homework cheat programs to share with friends.  My interest in programming extended
                                through college, where my Geographic Information Systems major introduced me to Java and Flash/ActionScript and the
                                then brand new world of interactive online maps.  Today, I focus on software development and data analysis in a GIS
                                environment using the Microsoft .NET framework.
                            </h4>
                        </div>                        
                    </div>
                    <div class="row font-gothic body-font-gray">
                        <div class="col-md-12">
                            <h4>
                                These are some technologies and development tools I currently use: Esri ArcGIS, Alteryx, MapInfo,
                                Windows Server, MIcrosoft Azure, SQL Server, IIS, JetBrains dotTrace, Git, SourceTree, Visual Studio,
                                ASP.NET, C#, JavaScript, jQuery, AngularJS, KnockoutJS, HTML5, Bootstrap
                            </h4>
                        </div> 
                    </div><br/>
                </div>
            </div>
            <div class="row font-gothic body-font-gray text-center">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row contact-font text-center">
                                Contact Info
                            </div><br />                                
                            <div class="row contact-font-small">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
                            </div>
                            <div class="row contact-font-small">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;480-389-4207
                            </div>
                            <div class="row contact-font-small">
                                <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/mfcallahan" target="_blank">GitHub</a>&nbsp;|
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/matthew-callahan/b9/46/40b" target="_blank">LinkedIn</a>&nbsp;|
                                <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;<a href="http://www.mfcallahan.com/docs/Matthew_Callahan_resume.pdf" target="_blank">Resume</a>
                            </div>
                            <div class="row contact-font-small">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<a href="http://bing.com/maps/default.aspx?cp=33.436716~-111.939787&lvl=10style=r" target="_blank">33.436716, -111.939787</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 equal-heght">
            <img src="http://www.mfcallahan.com/img/me_homepage.png" class="center-block">
        </div>
    </div>
</div>

<div class="modal fade" id="qbasicModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="http://www.mfcallahan.com/img/qbasic.png" alt="qbasic">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ti83Modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">TI-83</h5>
            </div>
            <div class="modal-body text-center">
                <img src="http://www.mfcallahan.com/img/TI-83.png" alt="qbasic" style="max-width:100%;max-height:100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>