
@{
    ViewBag.Title = "Matt Callahan";
}

@Styles.Render("~/Content/style-home")

<div class="container-fluid">
    <div class="row equal">
        <div class="col-md-4 no-padding sidebar-col">
            <div class="sidebar-wrapper">
                <div class="profile-container">
                    <img class="profile" src="~/Content/img/me.png" alt="" />
                    <h1 class="name">Matthew Callahan</h1>
                    <h3 class="tagline">Software Developer in Phoenix, AZ</h3>
                </div>
                <div class="contact-container container-block">
                    <ul class="list-unstyled contact-list condensed">                        
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">Email</a>
                            </span>
                            
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/mfcallahan1/" target="_blank" rel="noopener">linkedin.com/in/mfcallahan1</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/mfcallahan1/" target="_blank" rel="noopener">LinkedIn</a>
                            </span>                            
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/mfcallahan/" target="_blank" rel="noopener">github.com/mfcallahan</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/mfcallahan/" target="_blank" rel="noopener">GitHub</a>
                            </span>                            
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-globe"></i>&nbsp;&nbsp;<a href="https://geonet.esri.com/people/c_sharp_dotnet" target="_blank" rel="noopener">geonet.esri.com/people/c_sharp_dotnet</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-globe"></i>&nbsp;&nbsp;<a href="https://geonet.esri.com/people/c_sharp_dotnet" target="_blank" rel="noopener">Esri GeoNet</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-wordpress"></i>&nbsp;&nbsp;<a href="https://seesharpdotnet.wordpress.com/" target="_blank" rel="noopener">seesharpdotnet.wordpress.com</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-wordpress"></i>&nbsp;&nbsp;<a href="https://seesharpdotnet.wordpress.com/" target="_blank" rel="noopener">Blog</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a href="http://www.mfcallahan.com/Content/docs/Matthew_Callahan_resume.pdf" target="_blank" rel="noopener">Matthew Callahan Resume</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a href="http://www.mfcallahan.com/Content/docs/Matthew_Callahan_resume.pdf" target="_blank" rel="noopener">Resume</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="education-container container-block">
                    <h2 class="container-block-title">Education</h2>
                    <div class="container-block-about">
                        <div class="row vertical-align">
                            <div class="col-sm-3 display-wide text-center">
                                <a href="https://wisc.edu/" target="_blank" rel="noopener">
                                    <img vlass="img-responsive" src="~/Content/img/uw.png" alt="" />
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <h4 class="moreinfo"><a href="https://wisc.edu/" target="_blank" rel="noopener">University of Wisconsin-Madison</a></h4>
                                <h5 class="moreinfo"><a href="https://geography.wisc.edu/" target="_blank" rel="noopener">BS Geography/GIS</a></h5> 
                            </div>
                        </div>
                    </div>

                </div>
                <div class="education-container container-block last-item">
                    <h2 class="container-block-title">Certifications</h2>
                    <div class="container-block-about">
                        <div class="row vertical-align">
                            <div class="col-sm-5 display-wide text-center">
                                <a href="https://www.youracclaim.com/badges/637f3b5b-ff54-4815-901a-34081bf83e79/" target="_blank" rel="noopener">
                                    <img class="img-responsive" src="~/Content/img/mta.png" alt="" />
                                </a>
                            </div>
                            <div class="col-sm-7">
                                <h4 class="moreinfo">
                                    <a href="https://www.microsoft.com/en-us/learning/mta-developer-certification.aspx" target="_blank" rel="noopener">
                                        Microsoft Technology Associate: Developer
                                    </a>
                                </h4>
                            </div> 
                        </div>                                                            
                    </div>
                </div>
                @*<div class="education-container container-block last-item">
                    <h2 class="container-block-title">Certifications in Progress</h2>
                    <div class="container-block-about">
                        <p>
                            <h4 class="moreinfo"><a href="https://www.microsoft.com/en-us/learning/mcsa-web-applications-certification.aspx" target="_blank" rel="noopener">Microsoft Certified Solutions Associate</a></h4>
                        </p>
                        <p>
                            <h4 class="moreinfo"><a href="https://www.esri.com/training/catalog/576622b95afc2ce509542a3f/arcgis-desktop-developer-associate-10.4/" target="_blank" rel="noopener">ArcGIS Desktop Developer Associate 10.4</a></h4>
                        </p>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="col-md-8 no-padding main-col">
            <div class="main-wrapper">
                <section class="section summary-section">
                    <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
                    <div class="summary">
                        <p>
                            Hi, I’m Matt Callahan and I am a software developer in Phoenix, Arizona.  Computers have been my hobby since 
                            my dad brought home our first family computer 30 years ago, a  286 PC running MS-DOS. I 
                            found <a href="~/Content/img/qbasic.png" data-featherlight="image">QBasic</a> and began teaching myself 
                            how to program - without Google or StackOverflow! After receiving a <a href="~/Content/img/ti83.png" data-featherlight="image">TI-83</a> graphing calculator for algebra class in 
                            6th grade, I quickly began making games and homework cheat programs with 
                            <a href="https://en.wikipedia.org/wiki/TI-BASIC" target="_blank" rel="noopener">TI-BASIC</a> to share with friends. 
                            My interest in programming extended through college, where my Geographic Information Systems major introduced me 
                            to Java and Flash/ActionScript.  If I'm not at my keyboard, you'll find me enjoying the Arizona 
                            outdoors - exploring the scenic back roads, bicycling, fishing, camping, swimming, and skiing (yes, there's 
                            skiing in <a href="https://www.arizonasnowbowl.com/" target="_blank" rel="noopener">Arizona</a>).
                        </p>
                    </div>                    
                </section>

                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-code"></i>Software Development</h2>
                    <div class="item">
                        <div class="details">
                            <p>
                                My main area of interest is desktop and web development using the Microsoft 
                                <a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank" rel="noopener">.NET framework</a>. 
                                C# is my primary tool of choice when I need to develop a custom solution.  It is an amazing and powerful 
                                language with a robust base class library and features like LINQ, garbage collection, and asynchronous 
                                programming that make life so much easier.  But sometimes I just don't need the overhead of the massive 
                                .NET framework, and <a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a> is my 
                                second tool of choice. Python is perfect for when I need to automate tedious or repetitive tasks, or I 
                                need to process large batches of data.  
                            </p>
                            <p>
                                I am currently an Application Developer at <a href="https://www.cbre.com/" target="_blank" rel="noopener">CBRE</a>, helping 
                                to build modern applications that power <a href="https://www.cbre.com/about/tech-vantage/dimension/" target="_blank" rel="noopener">CBRE Dimension</a>, 
                                a suite of applications that deliver spatial data and analysis tools to service real estate brokers and 
                                staff. I am very fortunate to work in an environment that provides a wide array of data to process, 
                                visualize, and make accessible to clients in meaningful ways. I work with a great GIS and development 
                                team, and we thrive solving unique problems and providing tools that help clients make informed decisions.
                            </p>
                        </div>
                    </div>
                </section>
                
                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-volume-up" aria-hidden="true"></i>Radio</h2>
                    <div class="item">
                        <div class="details">
                            <p>
                                In addition to computers and programming, my other nerdy hobby is radio.  I am a licensed GMRS radio opearator 
                                (call sign <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener">WRAA720</a>)
                                and a licesnsed amateur radio operator (call sign AB9ZYX).   I rely on VHF and UHF <a href="~/Content/img/shack1.png" data-featherlight="image">two-way radios</a>
                                for communications when I'm camping in Arizona's back country and exploring forest roads. 
                                Check out my <a href="https://www.cbre.com/about/tech-vantage/dimension/" target="_blank" rel="noopener">radio homepage here</a>.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="section projects-section">
                    <h2 class="section-title"><i class="fa fa-code-fork"></i>Projects</h2>
                    <div class="intro">
                        <p>
                            While most of the code I write in my day to day work is stored in private repositories, here are some sample
                            projects that demonstrate the types of software development I do.
                        </p>
                    </div>                    
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="~/ApiDocumentation" target="_blank" rel="noopener">API</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This site includes a demo HTTP service created with ASP.NET Web API 2. Click here for the API documentation.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="~/Camping" target="_blank" rel="noopener">Arizona Camping Map</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                An interactive web map created with ArcGIS Online that shows some of my favortie places to camp and visit around Arizona.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="~/Gallery" target="_blank" rel="noopener">Image Gallery</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">An image gallery demo built with Featherlight.js.</span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/Homepage" target="_blank" rel="noopener">My Homepage</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This website serves as both a personal homepage and as a showcase for the flavors software development
                                I enjoy.  I used various frameworks, libraries, and APIs including ASP.NET, Entity Framework, jQuery, 
                                Bootstrap, ArcGIS Online, and others to create this site and all the included functionality.  Check out 
                                the source code here.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/MB_Utils" target="_blank" rel="noopener">MB Utils</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                A MapBasic module and .NET library that extends MapInfo MBX programming functionality by exposing .NET and 
                                Win32 API calls as easy to use MapBasic functions and subs.  This project was the first library I ever wrote
                                and was a great learning experience in how to document, release, and support an open source software project, 
                                albeit on a small scale.  And while the code may be outdated and could perhaps use some refactoring, I'm 
                                sharing this here to show how my career has progressed.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/adhoc" target="_blank" rel="noopener">Miscellaneous code</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This repository houses all my miscellaneous code: one-off scripts, useful stuff I refer back to once in a while, and
                                anything else I've deemed useful enought to hang on to for a while.
                            </span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



