
@{
    ViewBag.Title = "Radio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row equal">
        <div class="col-md-12 no-padding main-col">
            <div class="main-wrapper">

                <div class="row equal">
                    <div class="col-sm-4">
                        <img class="center-block" src="~/Content/img/scanner-homepage.png" alt="" />                        
                    </div>
                    <div class="col-sm-8">
                        <section class="section summary-section">
                            <h2 class="section-title"><img src="~/Content/img/antenna-icon-blue-sm.png" />&nbsp;&nbsp;Matt Callahan Radio Homepage</h2>
                            <div class="summary">
                                <p>
                                    Welcome to my radio homepage.  I am a licensed GMRS radio opearator, callsign WRAA720, and a licesnsed
                                    amateur radio operator, call sign AB9ZYX.
                                </p>
                            </div>
                        </section>
                        <section class="section summary-section">
                            <h2 class="section-title"><i class="fa fa-link"></i>Radio Links</h2>
                            <div class="summary">
                                <ul>
                                    <li>
                                        <a href="https://www.gmrs1900.net/" target="_blank" rel="noopener">Arizona GMRS Repeater Club</a>
                                    </li>
                                    <li>
                                        <a href="https://www.radioreference.com/" target="_blank" rel="noopener">Radio Reference</a>
                                    </li>
                                    <li>
                                        <a href="https://www.mygmrs.com/" target="_blank" rel="noopener">MyGMRS</a>                                        
                                    </li>
                                </ul>
              
                            </div>
                        </section>
                        <section class="section summary-section">
                            <h2 class="section-title"><i class="fa fa-camera"></i>Radio Gallery</h2>
                            <div class="summary">
                                <p>
                                    <div data-featherlight-gallery data-featherlight-filter="a">
                                        <a href="~/Content/img/shack1.png"><img src="~/Content/img/shack1.thumb.png" /></a>
                                        <a href="~/Content/img/shack2.png"><img src="~/Content/img/shack2.thumb.png" /></a>
                                        <a href="~/Content/img/shack3.png"><img src="~/Content/img/shack3.thumb.png" /></a>
                                    </div>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<footer>
    <h5><a href="http://mfcallahan.com">mfcallahan.com home</a></h5>
</footer>