
@{
    ViewBag.Title = "RadioMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/map-style")
@*@Scripts.Render("~/bundles/map-scripts")*@

@* <!-- ArcGIS Online -->*@
<div class="container-fluid">
    <div class="row equal">
        <div class="col-sm-12 no-padding">
            @* <!-- web app (c_sharp_dotnet) -->*@
            <iframe style="height: 93vh" src='http://www.arcgis.com/apps/View/index.html?appid=bba99afdb6e94eefb83a9011c2ee9c0f' frameborder='0' scrolling='no'></iframe>
        </div>
    </div>
</div>

