:host {
  width: 100%;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.row {
  margin-bottom: 10px;
}

li {
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

img {
  width: 100%;
}

.desc {
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
}
