<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 left-column">
      <div class="row no-gutters">
        <app-profile-pic [pic]="'me.png'" [name]="'Matt Callahan'" [tagLine]="'Software Developer in Phoenix, AZ'"></app-profile-pic>
      </div>
      <div class="row no-gutters">
        <app-contact-links></app-contact-links>
      </div>
      <!-- <div class="row no-gutters">
        <app-education-cert-links></app-education-cert-links>
      </div> -->
    </div>
    <div class="col-md-8 right-column">
      <div class="row no-gutters">
        <app-about></app-about>
      </div>
    </div>
  </div>
</div>
