.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.row {
  margin-bottom: 10px;
}

img {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.moreinfo {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
