<div class="wrapper">
  <div class="row no-gutters">
    <span class="title">Education</span>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-3 align-self-center text-center">
      <a href="https://wisc.edu/" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/uw.png" alt="UW Logo" />
      </a>
    </div>
    <div class="col-sm-9 align-self-center text-center">
      <p class="moreinfo"><a href="https://wisc.edu/" target="_blank" rel="noopener">University of Wisconsin-Madison</a></p>
      <p class="moreinfo"><a href="https://geography.wisc.edu/" target="_blank" rel="noopener">BS Geography/GIS</a></p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row no-gutters">
    <span class="title">Certifications & Licenses</span>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-3 align-self-center text-center">
      <a href="https://www.youracclaim.com/badges/637f3b5b-ff54-4815-901a-34081bf83e79/" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/mta.png" alt="UW Logo" />
      </a>
    </div>
    <div class="col-sm-9 align-self-center text-center">
      <p class="moreinfo">
        <a href="https://www.microsoft.com/en-us/learning/mta-developer-certification.aspx" target="_blank" rel="noopener">
          Microsoft Technology Associate: Developer</a
        >
      </p>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-3 align-self-center text-center">
      <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/fcc.png" alt="UW Logo" />
      </a>
    </div>
    <div class="col-sm-9 align-self-center text-center">
      <p class="moreinfo">
        <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener"
          >Amateur Radio License: Technician Class</a
        >
      </p>
    </div>
  </div>
</div>
