<div class="contact-links">
  <ul class="list-unstyled">
    <li>
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <a href="mailto: matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
    </li>
    <li>
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <a href="https://www.linkedin.com/in/mfcallahan1/" target="_blank" rel="noopener">linkedin.com/in/mfcallahan1</a>
    </li>
    <li>
      <fa-icon [icon]="faGithubSquare"></fa-icon>
      <a href="https://github.com/mfcallahan/" target="_blank" rel="noopener">github.com/mfcallahan</a>
    </li>
    <li>
      <fa-icon [icon]="faWordpressSimple"></fa-icon>
      <a href="https://mfcallahan.blog/" target="_blank" rel="noopener">mfcallahan.blog</a>
    </li>
    <li>
      <fa-icon [icon]="faRedditSquare"></fa-icon>
      <a href="https://www.reddit.com/user/mfcallahan1/" target="_blank" rel="noopener">reddit.com/u/mfcallahan1</a>
    </li>
    <li>
      <fa-icon [icon]="faFile"></fa-icon>
      <a href="assets/docs/Matthew_Callahan_resume.pdf" target="_blank" rel="noopener">Matthew Callahan Resume</a>
    </li>
  </ul>
</div>
