@import 'src/styles-vars.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: $sans-serif-font !important;
  background-color: $app-black !important;
  color: $app-white !important;
  font-size: 14px !important;
  padding: 30px;
}

@media (max-width: $col-ms-breakpoint) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-column {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: $col-ms-breakpoint + 1) {
  .hide-non-mobile {
    display: none !important;
  }
}

p {
  line-height: 1.5;
  font-size: 15px;
}

.heading {
  font-family: $title-font;
  color: $app-white;
}

.heading-large {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 1.1px;
}

.heading-small {
  font-weight: 600;
  font-size: 20px;
}

.sub-title {
  font-family: $sans-serif-font;
  font-size: 20px;
  color: $app-white;
}

.lightbox-link {
  color: $app-dark-turquoise;
  cursor: pointer;
}

.lightbox-link:hover {
  text-decoration: underline;
}

// TODO: this is not working
// a {
//   transition: all 0.4s ease-in-out;
//   -webkit-transition: all 0.4s ease-in-out;
//   -moz-transition: all 0.4s ease-in-out;
//   -ms-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
// }
