@import 'src/styles-vars.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: $sans-serif-font !important;
  background-color: $app-black !important;
  color: $app-white !important;
  font-size: 14px !important;
  padding: 30px;
}

.container {
  max-width: 1200px !important;
}

@media (max-width: $col-ms-breakpoint) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .right-column {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: $col-ms-breakpoint + 1) {
  .hide-non-mobile {
    display: none !important;
  }
}

p {
  line-height: 1.5;
  font-size: 15px;
}

.heading {
  font-family: $title-font;
  color: $app-white;
}

.heading-large {
  font-size: 26px;
  letter-spacing: 1.1px;
}

.heading-small {
  font-size: 20px;
}

.sub-title {
  font-family: $sans-serif-font;
  font-size: 20px;
  color: $app-white;
}

.lightbox-link {
  color: $app-dark-turquoise;
  cursor: pointer;
  text-decoration: none;
}

.lightbox-link:hover {
  transition: all 0.3s ease-in-out;
  color: #002966;
}
