// app theme colors
$app-white: #f2f2f2;
$app-light-gray: #cbc6c4;
$app-med-gray: #989391;
$app-gray: #4e4e4e;
$app-black: #1e1e1e;
$app-light-blue: #4285f4;
$app-med-blue: #356bc3;
$app-dark-blue: #2c3e50;
$app-dark-turquoise: #4ddbff;

// font stacks
$title-font: 'Varela Round', serif;
$sans-serif-font: 'Open Sans', sans-serif;

$col-ms-breakpoint: 768px;
