<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101650430-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-101650430-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/styles-site")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    @Scripts.Render("~/bundles/scripts-site")
</head>
    <body>

<!-- ▓▓▓ -->
<!-- ▒▒▓▓ -->
<!-- ▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▓▓▓ -->
<!-- ▓▓▓▓▓▓░░░▓ -->
<!-- ▓░░░░▓░░░░▓ -->
<!-- ░░░░░░▓░▓░▓ -->
<!-- ░░░░░░▓░░░▓ -->
<!-- ░░▓░░░▓▓▓▓ -->
<!-- ▓░░░░▓▒▒▒▒▓ -->
<!-- ▒▓▓▓▓▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▒▓▓▓▓ -->
<!-- ▒▒▒▒▓▓▓▒▒▒▒▓ -->
<!-- ▒▒▒▓▒▒▒▒▒▒▒▒▓ -->
<!-- ▒▒▓▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▒▓▒▒▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▓▒▓▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▓▒▓▓▓▓▓▓▓▓▓▓ -->
<!-- ▓▒▒▒▒▒▒▒▓ mmmm, floor pie -->
<!-- ▒▓▒▒▒▒▒▓ -->

        <div class="container body-content">
            @RenderBody()
        </div>

    </body>
</html>
