<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 left-column">
      <app-profile-pic></app-profile-pic>
    </div>
    <div class="col-md-8 right-column">
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
      main content<br />
    </div>
  </div>
</div>
