
@{
    ViewBag.Title = "RadioMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>

@*@Styles.Render("~/Content/style-map")*@
@*@Scripts.Render("~/bundles/scripts-map")*@

@*@Styles.Render("~/Content/style-arcgis")*@
@Styles.Render("~/Content/style-radiomap")
@*@Scripts.Render("~/bundles/scripts-arcgis")*@
@Scripts.Render("~/bundles/scripts-radiomap")

@* <!-- ArcGIS Online -->*@
<div class="container-fluid">
    <div class="row equal">
        <div class="col-sm-12 no-padding">

            @* <!-- web app (c_sharp_dotnet) -->*@
            @*<iframe style="height: 93vh" src='http://www.arcgis.com/apps/View/index.html?appid=bba99afdb6e94eefb83a9011c2ee9c0f' frameborder='0' scrolling='no'></iframe>*@

            <div id="titleDiv">
                <div id="title"></div>
            </div>
            <div id="viewDiv"></div>

        </div>
    </div>
</div>

