body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.nomargin {
    margin-top: 0px;
    margin-bottom:0px
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.panel {
    display: inline-block;
}



/* font stacks */
.font-monospace {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.font-gothic {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img {
    max-width: 100%;
}

/*.jumbotron{
 background-color: #e6fff9;
}*/

.bold-font {
   font-size: 150%;
   font-weight: bold;
}

.bold-font-small {
   font-size: 85%;
   color: #696969;
}

.body-font-gray {
   color: #333333
}

.contact-font {
   font-size: 175%;
   font-weight: bold;
}

.contact-font-small {
   font-size: 150%;
}

.light-pink{
    background-color: #ffe6e6;
}

.light-blue{
    background-color: #e6f7ff;
}

.light-green{
    background-color: #ccffe6;
}

.light-purple{
    background-color: #f3e6ff;
}

.windows-blue{
    background-color: #2E8DEF;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
