body {
    background-color: #1E1E1E !important;
    color: #E6E6E6 !important;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    color: #A6A6A6 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif !important;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;        
    }
}

/*when screen is less than 438px wide*/
@media (max-width: 437px) {
    .display-wide {
        display: none;
    }
}
/*when screen is greater than 437px wide*/
@media (min-width: 438px) {
    .display-narrow {
        display: none;
    }
}

.equal > div[class*='col-'] {  
  display: flex;
  flex-direction: column;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.main-col {
    background-color: #696969;
}

.sidebar-col {
    background-color: #4285F4;
}

.last-item {
    margin-bottom: 30px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar-wrapper {
    background: #4285F4;
}
        
    .sidebar-wrapper a {
        color: #E6E6E6 !important;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    .sidebar-wrapper a:hover {
        text-decoration: underline;
        color: #284860 !important;
    }

    .sidebar-wrapper a:focus {
        text-decoration: none;
    }

    .sidebar-wrapper .profile-container {
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }

    .sidebar-wrapper .contact-container {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
    }

    .sidebar-wrapper .name {
        font-family: Verdana, Tahoma, Segoe, Geneva, sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 10px;
        color: #F2F2F2;
    }

    .sidebar-wrapper .tagline {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        color: #E6E6E6;
    }

    .sidebar-wrapper .profile {
        margin-bottom: 15px;
        max-width: 100%;
        max-height: 100%;
    }

    .sidebar-wrapper .contact-list .fa {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
    }

    .sidebar-wrapper .contact-list li {
        margin-bottom: 10px;
        word-wrap: break-word;        
    }

        .sidebar-wrapper .contact-list li:last-child {
            margin-bottom: 0;
        }

    .sidebar-wrapper .container-block {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .sidebar-wrapper .container-block-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
        font-family: Verdana, Tahoma, Geneva, sans-serif;
    }

    .sidebar-wrapper .container-block-about {
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Futura, sans-serif;
    }

    .sidebar-wrapper .moreinfo {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }    

    .sidebar-wrapper .education-container .meta {
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0;
    }


.main-wrapper {
    background: #696969;
    padding: 60px;
}

    .main-wrapper a {
        color: #4ddbff !important;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    .main-wrapper a:hover {
        text-decoration: underline;
        color: #00a3cc !important;
    }

    .main-wrapper a:focus {
        text-decoration: none;
    }

    .main-wrapper .section-title {
        font-family: Verdana, Tahoma, Geneva, sans-serif;
        font-size: 22px;
        font-weight: 800;
        color: #E6E6E6;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
    }

        .main-wrapper .section-title .fa {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            display: inline-block;
            color: #E6E6E6;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background: #2c3e50;
            text-align: center;
            padding-top: 6px;
            font-size: 18px;
            position: relative;
        }

    .main-wrapper .section {
        margin-bottom: 40px;
    }

    .main-wrapper .section:last-of-type {
        margin-bottom: 0px;
    }

    .main-wrapper .experiences-section .item {
        margin-bottom: 30px;
    }

    .main-wrapper .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .main-wrapper .projects-section .intro {
        margin-bottom: 30px;
    }


/*Gallery*/
.gallery-wrapper {
    background: #696969;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 25px;
    /*padding: 30px;*/
}